message.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="message" type="messageType"/>
  <xs:complexType name="contextType">
    <xs:sequence>
      <xs:element type="xs:string" name="medium" minOccurs="0"/>
      <xs:element type="xs:boolean" name="private" minOccurs="0"/>
      <xs:element type="xs:int" name="likes" minOccurs="0"/>
      <xs:element type="xs:int" name="views" minOccurs="0"/>
      <xs:element type="xs:string" name="importance" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="participantType">
    <xs:sequence>
      <xs:element type="miscType" name="misc" minOccurs="0"/>
    </xs:sequence>
        <xs:attribute type="xs:string" name="id"/>
        <xs:attribute type="xs:string" name="role" use="optional"/>
        <xs:attribute type="xs:string" name="realname" use="optional"/>
        <xs:attribute type="xs:string" name="username" use="optional"/>
        <xs:attribute type="xs:string" name="email" use="optional"/>
        <xs:attribute type="xs:string" name="description" use="optional"/>
  </xs:complexType>
  <xs:complexType name="fromType">
    <xs:sequence>
      <xs:element type="participantType" name="participant" maxOccurs="unbounded" minOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="toType">
    <xs:sequence>
      <xs:element type="participantType" name="participant" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ccType">
    <xs:sequence>
      <xs:element type="participantType" name="participant" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="bccType">
    <xs:sequence>
      <xs:element type="participantType" name="participant" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="itemType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="name"/>
        <xs:attribute type="xs:string" name="value"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="miscType">
    <xs:sequence>
      <xs:element type="itemType" name="item" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="headerType">
    <xs:sequence>
      <xs:element type="xs:string" name="subject"/>
      <xs:element type="xs:string" name="daytime"/>
      <xs:element type="xs:string" name="encoding"/>
      <xs:element type="xs:string" name="MIME"/>
      <xs:element type="fromType" name="from"/>
      <xs:element type="toType" name="to" minOccurs="0"/>
      <xs:element type="ccType" name="cc" minOccurs="0"/>
      <xs:element type="bccType" name="bcc" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="kbitemType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="id"/>
        <xs:attribute type="xs:anyURI" name="uri"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="kbitemsType" mixed="true">
    <xs:sequence>
      <xs:element type="kbitemType" name="kbitem" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="contentType">
    <xs:sequence>
      <xs:element type="xs:string" name="body" minOccurs="0"/>
      <xs:element type="xs:string" name="signature" minOccurs="0"/>
      <xs:element type="xs:string" name="form" minOccurs="0"/>
      <xs:element type="xs:string" name="attachments" minOccurs="0"/>
      <xs:element type="kbitemsType" name="kbitems" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="messageType">
    <xs:sequence>
      <xs:element type="contextType" name="context"/>
      <xs:element type="headerType" name="header"/>
      <xs:element type="miscType" name="misc" minOccurs="0"/>
      <xs:element type="contentType" name="content"/>
      <xs:element type="xs:string" name="analysis" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id"/>
    <xs:attribute type="xs:string" name="conversationId" use="optional"/>
    <xs:attribute type="xs:string" name="inReplyTo" use="optional"/>
  </xs:complexType>
</xs:schema>